<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.full_messages.each do |messages| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-group">
    <%= form.label :task_name %>
    <%= form.text_field :task_name, id: :task_name, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label :Deadline %>
    <%= form.date_field :deadline, id: :task_deadline, class: "form-control" %> 
  </div>

  <div class="form-group">
    <%= form.label :details %><br>
    <%= form.text_area :details, id: :task_details, class: "form-control" %>
  </div>

  <div class ="form-group">
    <div class="row">
      <div class="col-xs-3">
        <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select Category", class: "form-control") %>
      </div>
      <div class="col-xs-9">
      </div>
    </div>
  </div>

  <div class="action">
    <%= form.submit class: "btn btn-default"%>
  </p>
 
<% end %>