<p>
  <strong>Task_name:</strong>
  <%= @task.task_name %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline%>
</p>

<p>
  <strong>Details:</strong>
  <%= @task.details %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>